@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
}

/* Scrollbar */
.conn-list::-webkit-scrollbar {
    width: 4px;
}

.conn-list::-webkit-scrollbar-track {
    background: transparent;
}

.conn-list::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 2px;
}